<div class="jumbotron">
<h1 class="title">顶薪</h1>
 <p class="slogan">1024 Offer 是一个提供"1G"薪水工作机会的求职网站。
<br>
快来看看吧！！！
</p>
<p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">立刻行动</a></p>
</div>
